@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
  scroll-behavior: smooth;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  /* Create 12 seperate column */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 10;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-top: 10rem;
    margin-bottom: var(--spacing);
  }

  .padding{
    padding: 2rem;
    background:none;
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }

  .topnav {
    background-color: #000;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    /* padding: 2px 50px; */
    /* box-shadow: 0 1px 8px  */
  }

  .topnav h1{
    margin-right: auto;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    /* float: left; */
    color: #f2f2f2;
    text-align: center;
    padding: 19px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.3s ease 0s;
  }

  .btn{
    list-style: none;
  }
  
  .topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  a.active {
    background-color: #ddd;
    color: black;
  }